header {
	background: #15e4cc;
  box-shadow: 6px 6px 20px -1px #3eeee5,
        -6px -6px 20px -1px #244857;
	color: rgb(7, 7, 7);
  text-align: center;
	padding: 20px;
}

.boton{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.imagen-de-fondo{

  display: flex;
  justify-content: center;


}


  .body{
    color: black;
  }

  @media only screen and (max-width: 480px) {
    /* Estilos CSS para pantallas pequeñas */
    .imagen-de-fondo {
      background-size: contain;
    }
  }